@import "tailwindcss";
@import "@heroui/styles"; 

:root {
  --background: #ffffff;
  --foreground: #0F172A;
  --accent: #0D9488;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  
}

.dark {
  
    --background: #171717;
    --foreground: #ffffff;
  
}

body {
  background: var(--background);
  color: var(--foreground);
}


@layer components {
  .container{
    @apply max-w-7xl mx-auto px-4
  }
  .button--primary {
    @apply bg-accent text-white 
  }
  .button--secondary {
    @apply bg-background border border-accent text-foreground
  }
}